/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/app/dvr
storage/logs/*.log
storage/framework/views/*.php
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
!.gitkeep
bootstrap/cache/*.php
!.gitignore
database/database.sqlite
/public/storage/.gitignore
.opencode
.cora/
storage/app/temp_cache/
*.sh
!deployment/*.sh
emergency_fix*.txt
